/*adding nested grid style*/
.photobox{
    display:grid;
    height:50%;
    width:100%;
    grid-template-columns:repeat(2,1fr) ;
    grid-template-rows: repeat(2,1fr);
    border:2px solid red
    
}
.pb {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    border:2px solid yellow;
    border-radius: 8px;
}
/* #two {
    display: flex;
    justify-content: center;
    align-items: center;
} */
